@mixin stack() {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  .top, .bottom {
    min-width: 0;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .top {
    z-index: 2;
  }

  .bottom {
    z-index: 1;
  }
}

@mixin columns($columns: 2, $gap: 3rem) {
  @apply grid lg:grid-cols-#{$columns} gap-[#{$gap}];
}